body {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 10px;
}


/* 
----------------------------------------------------
----------------------- header ---------------------
----------------------------------------------------
 */

header {
    grid-column: span 12;
    min-height: 70px;
    padding: 0 24px;

    .heading {
        font-size: 2.3rem;
    }
}


/* 
----------------------------------------------------
----------------------- main page ---------------------
----------------------------------------------------
 */

 main {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 10px;
}

.first-page {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 10px;

    h1 {
        grid-column: span 12;
    }

    .first-page-divider {
        grid-column: span 12;
    }
}

.sort-container {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 10px;

    .sort-products {
        grid-column: 8 / 10;
        position: relative;
        top: 2px;
    }

    .sort-name {
        grid-column: 10;
        position: relative;
        left: -25px;
    }

    .sort-price {
        grid-column: 11;
        position: relative;
        left: -25px;
    }

    .sort-rating {
        grid-column: 12;
    }
}

.category-container {
    grid-column: 7 / 13;

    .category-labels {

        .sort-vegan-button {
            position: relative;
            right: -55px;
        }

        .sort-vegan-text {
            position: relative;
            right: -55px;
        }

        .sort-gluten-free-button {
            position: relative;
            right: -15px;
        }

        .sort-gluten-free-text {
            position: relative;
            right: -15px;
        }

        .sort-nuts-button {
            position: relative;
            left: -25px;
        }

        .sort-nuts-text {
            position: relative;
            left: -25px;
        }
    }
}

.product-container {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 10px;

    article {
        grid-column: span 12;
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 10px;
        flex-direction: row;

        img {
            grid-column: 2 / 6;
            width: 500px;
            height: auto;
            margin-top: 140px;
        }

        .product-heading {
            grid-column: 8 / 13;
        }
    
        .product-info {
            grid-column: 8 / 13;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            position: relative;
            top: -200px;
            font-family: 'Open Sans', sans-serif;
    
            .product-price {
                padding: 5px 0;
            }
        
            .product-rating {
                padding: 5px 0;
            }
    
            .product-category {
                padding: 5px 0;
            }
        }
    
        .button-container {
            grid-column: 8 / 13;
            display: flex;
            justify-content: center;
            position: relative;
            top: -190px;
    
            .decrease, .increase {
                font-size: 1.5rem;
                width: 50px;
                height: 50px;
                margin: 5px;
            }
        }
    
        .product-amount {
            grid-column: 8 / 13;
            display: flex;
            justify-content: center;
            position: relative;
            top: -190px;
            font-size: 0.9rem;
        }
    }

    .divider {
        grid-column: span 12;
    }
}

#popup {
    padding: 20px;
    font-size: 1.2rem;
}


.cart-container {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 10px;
    
    h3 {
        grid-column: 1 / 11;
        font-size: 1.8rem;
        padding: 45px 0px 20px 10px;
        font-family: 'Montserrat', sans-serif;
    }

    .timer {
        grid-column: 11 / 13;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8rem;
    }

    h4 {
        grid-column: span 12;
        padding: 15px 0 15px 10px;
    }

    p {
        padding: 0 0 15px 10px;
    }

    .shopping-cart {
        grid-column: span 12;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 10px;

        .cart-summary {
            grid-column: span 12;
            padding: 0 0 15px 10px;
        }
    
        .discount-info {
            grid-column: span 12;
        }

        .total-sum {
            grid-column: span 12;
        }
    }
}

#orderSummary {
    width: 800px;
}

.customer-form {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 10px;
    padding: 40px 20px 0 20px;

    h5 {
        grid-column: span 12;
        font-size: 1.7rem;
        position: relative;
        left: 10px;
        margin-bottom: 20px;
    }

    .input-container {
        grid-column: span 6;
        margin: 0 10px;
    }

    .discount-container {
        grid-column: 1 / 6;
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 10px;
        margin-top: 30px;

        .discount-label {
            grid-column: span 3;
        }

        .discount-input {
            grid-column: span 2;
            width: 195px;
            border-radius: 4px;
            border: 1px solid black;
            padding: 8px 5px;
        }

        .discount-button {
            position: relative;
            left: -87px;
            font-size: 1.5rem;
            background-color: rgb(255, 192, 227);
            border: none;
            border-radius: 8px;
            width: 40px;
            cursor: pointer;
        }
    }

    .form-checkboxes {
        grid-column: 1 / 6;
        margin: 5px 10px;
    }

    .hidden {
        display: none;
    }

    .payment-options {
        grid-column: span 1 / 5;
        margin-top: 30px;
        position: relative;
        left: -15px;
        width: 500px;

        .order-button {
            padding: 8px 16px;
            font-size: 1.2rem;
            background-color: rgb(255, 192, 227);
            border: 0;
            border-radius: 8px;
            cursor: pointer;
            color: white;
            &:disabled {
                background-color: #b5b5b5;
                cursor: not-allowed;
            }
        }

        .selector {
            margin-block: 16px;
            text-align: center;
        }
        
        input.small {
            width: 80px;
        }
        
          .card, .invoice {
            label {
              display: flex;
              gap: 8px;
              margin-block: 8px;
              align-items: center;
              justify-content: space-between;
            }
          }
        
    }
}


