body {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
    background-color: white;
}

/* 
----------------------------------------------------
----------------------- header ---------------------
----------------------------------------------------
 */

header {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
    background-color: white;
}

.navbar {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .heading {
        font-size: 2.2rem;
        color: black;
        text-decoration: none;
        position: relative;
        left: 20px;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 50px;
        gap: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.3s;

        .nav-item {
            position: relative;
            bottom: 40px;
            margin: 16px 0;
            font-size: 1.5rem;
            list-style: none;

            .nav-link {
                color: black;
                text-decoration: none;
            }
        }
    }

    .nav-menu.active {
        left: 0;
    }

    .burger-menu {
        display: block;
        position: absolute;
        right: 20px;
        background: transparent;
        border: none;

        .bar {
            display: block;
            width: 30px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: black;
            border-radius: 7px;
        }
    }
    
    .burger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .burger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .burger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}


/* 
----------------------------------------------------
----------------------- main page ---------------------
----------------------------------------------------
 */

main {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
}

.first-page {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;

    h1 {
        grid-column: span 4;
        text-align: center;
        font-size: 3rem;
        margin: 0;
        height: 100vh;
        position: relative;
        top: 250px;
    }

    .first-page-divider {
        grid-column: span 4;
        height: 1px;
        background-color: black;
        position: relative;
        bottom: 0;
    }
}

.sort-container {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;

    .sort-button {
        grid-column: 4;
        padding: 5px;
        position: relative;
    }
}

.product-container {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;

    article {
        grid-column: span 4;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    
        .product-heading {
            grid-column: 2 / 4;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
        }

        img {
            width: 400px;
            height: auto;
            margin-top: 200px;
        }

        .product-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            position: relative;
            top: -15px;
            font-family: 'Open Sans', sans-serif;
    
            .product-price {
                grid-column: 2 / 4;
                padding: 5px 0;
            }
        
            .product-rating {
                grid-column: 2 / 4;
                padding: 5px 0;
            }
        }
    
        .button-container {
            position: relative;
            bottom: 20px;
    
            .decrease {
                font-size: 1.5rem;
                background-color: rgb(255, 192, 227);
                border: none;
                border-radius: 8px;
                padding: 0 11px 3px 11px;
            }
            
            .increase {
                font-size: 1.5rem;
                background-color: rgb(255, 192, 227);
                border: none;
                border-radius: 8px;
                padding: 0 8px 3px 8px;
                width: 30px;
                height: 30px;
            }
        }

        .product-amount {
            grid-column: 2 / 4;
            position: relative;
            bottom: 50px;
            padding: 10px 0;
            font-family: 'Open Sans', sans-serif;
            font-size: 0.8rem;
        }
    }

    .divider {
        grid-column: 1 / 5;;
        height: 1px;
        width: 100%;
        background-color: black;
    }
}

.cart-container {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
    padding-left: 10px;
    
    h3 {
        grid-column: 1 / 5;
        font-size: 1.8rem;
        padding: 45px 0px 20px 10px;
        font-family: 'Montserrat', sans-serif;
    }

    h4 {
        grid-column: 1 / 5;
        font-family: 'Open Sans', sans-serif;
        padding: 15px 0 15px 10px;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        padding: 0 0 15px 10px;
    }
}

form {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: 40px 20px 0 20px;

    h5 {
        font-size: 1.7rem;
        position: relative;
        left: -3px;
    }

    .input-container {
        grid-column: 1 / 5;
        display: flex;
        justify-content: space-between;

        input {
            border-radius: 4px;
            border: 1px solid black;
            padding: 8px 5px;
        }
    }

    .order-button {
        background: rgb(255, 192, 227);
        border: none;
        border-radius: 3px;
        padding: 10px 20px;
    }
}









