body {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 10px;
}

/* 
----------------------------------------------------
----------------------- header ---------------------
----------------------------------------------------
 */

header {
    grid-column: span 8;
}


/* 
----------------------------------------------------
----------------------- main page ---------------------
----------------------------------------------------
 */

main {
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 10px;
}

.first-page {
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 10px;

    h1 {
        grid-column: span 8;
        display: grid;
        grid-template-columns: repeat(8, minmax(0, 1fr));
        gap: 10px;

        .welcome {
            grid-column: span 8;
        }

        .h1-linebreak {
            grid-column: span 8;
        }

        .cafe-c {
            grid-column: span 8;
        }
    }

    .first-page-divider {
        grid-column: span 8;
    }
}


.sort-container {
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 10px;

    .sort-products {
        grid-column: span 2;
    }

    .sort-name, .sort-price, .sort-rating {
        position: relative;
        left: -20px;
    }

    .sort-name {
        grid-column: 6;
    }

    .sort-price {
        grid-column: 7;
    }

    .sort-rating {
        grid-column: 8;
    }
}

.category-container {
    grid-column: span 8;
}

.product-container {
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 10px;

    article {
        grid-column: span 8;

        img {
            width: 450px;
        }

        .product-heading {
            position: relative;
            bottom: 20px;
        }

        .product-info {
            position: relative;
            bottom: 40px;
        }

        .button-container {
            position: relative;
            bottom: 10px;

            .decrease {
                width: 50px;
                height: 50px;
                margin: 0 5px;
            }

            .increase {
                width: 50px;
                height: 50px;
                margin: 0 5px;
            }
        }

        .product-amount {
            grid-column: 4 / 6;
            position: relative;
            bottom: 20px;
        }
    }

    .divider {
        grid-column: span 8;
    }
}

.cart-container {
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 10px;
    margin-left: 10px;

    h3 {
        grid-column: 1 / 6;
        font-size: 2rem;
    }

    .timer {
        grid-column: 6 / 9;
        position: relative;
        left: 80px;
        font-size: 1rem;
    }

    h4 {
        grid-column: 1 / 9;
        padding: 15px 0 15px 10px;
    }

    .shopping-cart {
        grid-column: span 8;
        display: grid;
        grid-template-columns: repeat(8, minmax(0, 1fr));
        gap: 10px;
    
        .cart-summary {
            grid-column: 1 / 9;
        }
    
        .total-sum {
            grid-column: 1 / 3;
        }
    }

    .discount-container {
        grid-column: span 8;
        display: grid;
        grid-template-columns: repeat(8, minmax(0, 1fr));
        gap: 10px;
        margin-left: 10px;

        .discount-label {
            grid-column: span 8;
        }

        .discount-input {
            grid-column: span 3;
            width: 220px;
        }

        .discount-button {
            grid-column: 4;
            position: relative;
            left: -40px;
            font-size: 1.7rem;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
    }
}


.customer-form {
    grid-column: 1 / 9;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 10px;
    margin: 40px 0 10px 10px;

    h5 {
        font-size: 2rem;
    }

    .input-container {
        grid-column: span 8;
    }

    .form-checkboxes {
        grid-column: span 8;
    }

    .reset-button {
        grid-column: 7 / 9;
    }

    .payment-options {
        grid-column: span 8;
    }
}